doctype html
html
  head
    title=book.title
    meta charset="UTF-8"
    style type="text/css"==URI.open("https://fonts.googleapis.com/css?family=Bitter:400,700|Muli:300,400,i|Montserrat:400,700|Fira+Mono|Junge").read
    style type="text/css"==URI.open("https://zachcapalbo.com/stylesheets/legacy.css?1461766679").read
    style type="text/css"==URI.open("https://zachcapalbo.com/stylesheets/all.css?1461766678").read
    style type="text/css"==URI.open("https://zachcapalbo.com/stylesheets/fonts.css?1461766677").read
    
    script src="abcjs_basic_2.3-min.js"
    script src="abcjs_plugin_2.3-min.js"
    javascript:
      window.ABCJS.plugin.auto_render_threshold = 100;
      window.ABCJS.plugin.hide_abc = true;
    sass:
      #top
        max-width: 1000px
        margin: auto
      body
        padding-top: 0px
      a.song_title
        color: #000
        text-decoration: none
      a.song_title:hover
        color: #000
        text-decoration: none
      .navbar
        margin-bottom: 60px
      .lyrics
        line-height: 140%
        font-size: 140%

      .chordlyrics
        font-family: 'Fira Mono', monospace
      .abcrendered
        margin: auto
      h2
        text-align: center
      .order
        display: inline
        line-height: 0px
        float: right
        font-size: 22px
        font-family: 'Fira Mono', sans
      .chords
        font-family: 'Fira Mono', monospace
        font-weight: bold
        color: #08c
      .chorusindicator
        color: #0a5
        font-weight: bold
        text-align: center
      .chorus
        color: #083
      .author, .key
        font-family: 'Lora', serif
        font-size: 140%
        text-align: center
        font-style: italic

      .author
        float: right
        margin-right: 120px
      .key
        float: left
        margin-left: 120px
      .desc
        clear: both
        margin-bottom: 2em
      .melody
        background: none
        border: none
  body
    .navbar.navbar-inverse
      .navbar-inner
        .containwe
          a.brand[href="http://www.zachcapalbo.com"] Zach Capalbo
          ul.nav
            li
              a href="https://zach-geek.gitlab.io/songbook/songbook.html"="Zach's Songbook"
            li
              a href="https://gitlab.com/zach-geek/songbook" Source Code
            li
              a href="https://zach-geek.gitlab.io/songbook/ZachsSongbook.pdf"="Zach's Songbook (PDF)"
            li
              a href="https://zach-geek.gitlab.io/songbook/ZachsSongbooklet.pdf"="Zach's Songbooklet (PDF)"
    #top.conainer
      .row
        .well
          .frontmatter==Kramdown::Document.new(book.preface).to_html
          br
          h2 Contents
          ol
            - for song in book.songs
              li
                a href="##{song.slug}"="#{song.info.fetch("favorite", false) ? "⋆" : ""} #{song.title}"
          hr
          - for song in book.songs
            .well
              .order=song.order
              a name=song.slug
              a.song_title href="#{song.slug}.html"
                h2=song.title
              .info
                .desc=song.desc
                .author=song.author
                .key="Key of #{song.key}"
              - unless song.melody.nil? or song.melody.empty?
                pre.melody=song.melody
                a.midi href="midi/#{song.slug}.mid" Play MIDI
              - unless song.verses.empty?
                pre.melody
                  .lyrics==song.to_html
            hr
    .container
      hr
      footer
        p align="center"
          | Created by <a href="http://zachcapalbo.com">Zach Capalbo</a>. Uses <a href="https://github.com/paulrosen/abcjs" >abcjs</a>. Hosted on <a href="https://gitlab.com/zach-geek/songbook">Gitlab</a>
