- require 'open-uri'
doctype html
html
  head
    title Zach's Songbook
    meta charset="UTF-8"
      style type="text/css"==URI.open("https://fonts.googleapis.com/css?family=Bitter:400,700|Muli:300,400,i|Montserrat:400,700|Fira+Mono|Junge").read
      style type="text/css"==URI.open("https://zachcapalbo.com/stylesheets/fonts.css?1461766677").read

    sass:
      body
        max-width: 1000px
        margin: auto
        padding-top: 50px
        font-family: 'Junge'
        background-color: 'white'
      h2
        text-align: center
      li
        font-size: x-large
        line-height: 350%
        color: #0a5
      a
        text-decoration: none
        color: black
        padding-left: 3em
  body
    h2 Contents
    ol
      - for song in book.songs
        li
          a href="#{song.slug}_slideable.html"="#{song.info.fetch("favorite", false) ? "⋆" : ""} #{song.title} (Key of #{song.key})"
